<div id="content_wrapper">
  <div id="left_sidebar">
    <div id="left_nav">
      <ul>
        <li><a ng-click="scrollTo('t1')"> 夏期集中講座</a></li>
        <li><a ng-click="scrollTo('t2')"> 説明会</a></li>
        <li><a ng-click="scrollTo('t0')"> 研究の世界入門講座</a></li>
      </ul>
    </div>
  </div>
  <div id="right_contentWrapper">
    <div class="content">
      <h1 class="contentTitle" id="t1">夏期集中講座</h1>
      <p>9月8日(月)から9月12日(金)の2限から4限に開講されます。</p>
      <p>午前中は、科学的方法や統計分析の方法に関する講義、午後は英文論文執筆に関する講義です。</p>
      <p><a href="https://sites.google.com/site/2014qingbaoriterashijichu1b">講義資料等</a></p>
      <ol>
        <li>
          <div>
            <h3>9月8日目午前</h3>
            <p>科学的方法について</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/mLSLPcQVG-8" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月8日目午後</h3>
            <p>Abstractの書き方</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/xb4m7lm4sVU" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月9日目午前</h3>
            <p>Excelによる回帰分析</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/3LbKwX5F54g" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月9日目午後</h3>
            <p>Excelによるデータ処理(VBA入門)</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/iQJt5zhNlPM" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月10日目午前</h3>
            <p>科学的方法について</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/5aWG2tODsyM" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月10日目午後</h3>
            <p>Methodの書き方</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/trozZ_wjogM" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月11日目午前</h3>
            <p>統計的検定とグラフ表現について</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/XHoMfLeFQMw" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月11日目午後</h3>
            <p>ResultとDiscussionの書き方</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/mr0X5k-okek" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月12日目午前</h3>
            <p>変数削減法のVBAプログラミング</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/dpKpMdBZuxI" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          <div>
            <h3>9月12日目午後</h3>
            <p>TitleとConclusionの書き方</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/WY0h1TQ-Iiw" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
      </ol>
    </div>
    <div class="content">
      <h1 class="contentTitle" id="t2">説明会</h1>
      <p>シンポジウムへの参加、研究の進め方について説明会を行います。</p>
      <ul>
        <li>日時 : 7月3日(木)5限、7月11日(金)5限</li>
        <li>場所 : 吉田南1号館1共23教室</li>
        <li>資料 : <a href="data/説明会/科学的手法まとめ.pdf">科学的手法まとめ</a>
      </ul>
    </div>
    <div class="content">
      <h1 class="contentTitle" id="t0">研究の世界入門講座</h1>
      <div>
        <p>会場 : 吉田南一号館 1共23教室 (第1〜3回は1共25教室)</p>
        <p>時間 : 18時15分 ～ 19時45分</p>
        <ol>
          <li>
            <div>
              <h3>5月14日(水) テーマを探そう</h3>
              <p>グループでの自己紹介、研究の進め方</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/l3ceJCm_-pQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div>
              <h3>5月21日(水) 論文って何？</h3>
              <p>科学的手法、仮説検証法、論文の書き方</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/Guf2iPml05I" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div>
              <h3>5月28日(水) インタビューに挑戦</h3>
              <p>調査(アンケート・インタビューなど)について</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/iLFHzU9fEIY" frameborder="0" allowfullscreen></iframe>
              <p>参考情報: <a href="http://collaboegm.appspot.com/">評価グリッド法支援ソフトウェア E-Grid</a></p>
            </div>
          </li>
          <li>
            <div>
              <h3>6月4日(水) データはどうまとめるか</h3>
              <p>グラフ表示、Excelを用いた分析法など</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/Q36zOr1BvCo" frameborder="0" allowfullscreen></iframe>
              <p><a href="data/研究の世界入門04/data1.xlsx">演習データ1</a></p>
              <p><a href="data/研究の世界入門04/data2.xlsx">演習データ2</a></p>
              <p><a href="data/研究の世界入門04/data3.xlsx">演習データ3</a></p>
            </div>
          </li>
          <li>
            <div>
              <h3>6月11日(水) 情報を集めよう</h3>
              <p>京大の論文検索システム等での情報検索法</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/ByXOOFrtEwM" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
