<div id="content_wrapper">
  <div id="left_sidebar">
    <div id="left_nav">
      <ul>
        <li><a ng-click="scrollTo('t0')"> 研究の世界入門講座</a></li>
      </ul>
    </div>
  </div>
  <div id="right_contentWrapper">
    <div class="content">
      <h1 class="contentTitle" id="t0">研究の世界入門講座</h1>
      <div>
        <p>会場 ： 吉田南一号館 1共25教室</p>
        <p>時間 ： 18時15分 ～ 19時45分</p>
        <ol>
          <li>
            <div>
              <h3>5月14日(水) テーマを探そう</h3>
              <p>グループでの自己紹介、研究の進め方</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/l3ceJCm_-pQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div>
              <h3>5月21日(水) 論文って何？</h3>
              <p>科学的手法、仮説検証法、論文の書き方</p>
              <iframe width="560" height="315" src="//www.youtube.com/embed/Guf2iPml05I" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div>
              <h3>5月28日(水) インタビューに挑戦</h3>
              <p>調査(アンケート・インタビューなど)について</p>
              <p>参考情報: <a href="http://collaboegm.appspot.com/">評価グリッド法支援ソフトウェア E-Grid</a></p>
            </div>
          </li>
          <li>
            <div>
              <h3>6月4日(水) データはどうまとめるか</h3>
              <p>グラフ表示、Excelを用いた分析法など</p>
            </div>
          </li>
          <li>
            <div>
              <h3>6月11日(水) 情報を集めよう</h3>
              <p>京大の論文検索システム等での情報検索法</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
