<div id="content_wrapper">
  <div id="left_sidebar">
    <div id="left_nav">
      <ul>
        <li><a ng-click="scrollTo('t0')">募集要項</a></li>
      </ul>
    </div>
  </div>
  <div id="right_contentWrapper">
    <div class="content">
      <h1 id="t0" class="contentTitle">
        第五回全学共通教育国際学生シンポジウム募集要項
      </h1>

      対象者：初年次学生（主に学部1・2回生。3回生・留学生も可）<br><br>

      スケジュール：
      <li>参加申し込み： 2014年7月末頃</li>
      <li>投稿締め切り： 2014年9月末頃</li>
      <li>査読結果通知： 2014年10月初旬</li>
      <li>シンポジウム開催日： 11月21日(金)</li>
      ＊詳細や、関連講義などの日程は、順次ご連絡します。<br>	<br>


      論文タイトル：任意<br>
      参加申し込み：<a href="{{formUrl}}"><u>登録フォーム</u></a><br>
      投稿先：<u>全学共通教育国際学生シンポジウムOJSシステム(準備中)</u><br>
      その他：論文の提出書式と注意事項を確認してください。<br>


      主催：京都大学国際高等教育院・第五回全学共通教育国際学生シンポジウム実行委員会<br>
      連絡先：<a href="mailto:sympo2014@viz.media.kyoto-u.ac.jp">sympo2014@viz.media.kyoto-u.ac.jp</a><br>
      ホームページ：<a href="http://www.viz.media.kyoto-u.ac.jp/sympo2014/">http://www.viz.media.kyoto-u.ac.jp/sympo2014/index.html</a><br>

    </div>
  </div>
</div>
