<div id="content_wrapper">
  <div id="left_sidebar">
    <div id="left_nav">
      <ul>
        <li><a ng-click="scrollTo('t0')">論文のフォーマット</a></li>
        <li><a ng-click="scrollTo('t1')">注意事項</a></li>
        <li><a ng-click="scrollTo('t2')">OJSの使用マニュアル</a></li>
      </ul>
    </div>
  </div>

  <div id="right_contentWrapper">
    <div class="content">

      <strong>論文の投稿・査読はオープン・ジャーナル・システム（以下ＯＪＳ）を通して行います。<br>
        投稿の前に必ずＯＪＳに登録してください。</strong><br><br>


      登録・投稿先はこちら：<a href="http://www.viz.media.kyoto-u.ac.jp/ojs"><u>全学共通教育国際学生シンポジウムOJSシステム</u></a><br>
      登録・投稿マニュアル(動画)：<a href="#t2"><u>投稿者登録マニュアル</u></a><br><br>

      <h1 id="t0" class="contentTitle">論文のフォーマット</h1>
      <p>
      <li>以下のフォーマットを厳守してください。</li><br><br>

      フォント：century <br>
      タイトル：22pt <br>
      所属・名前：12pt<br>
      本文・章のタイトル ：9pt<br>
      章のタイトル ：大文字 (例:An Upper Case Letter)<br>
      注釈・引用 ：8pt<br>
      段組み ：2段<br>
      ページ数：2ページ以上<br>
      ファイル形式 ：pdf/doc/docx<br><br>

      参考 <a href="data/論文の構造とフォーマット.doc">template.doc</a>
      </p>
    </div>
    <div class="content">
      <h1 id="t1" class="contentTitle">注意事項</h1>

      提出された論文は、当実行委員会が査読致します。<br><br>
      査読とは、論文を第三者が読んで評価することで、その結果をもとにして口頭発表者を選びます。<br>
      <strong>ただし、以下のような論文は査読を拒絶する場合がありますので、ご了承ください。</strong><br>
      <br>
      <strong>・提出論文のフォーマットにのっとっていない。</strong><br>
      本シンポジウムの目的のひとつに「学術論文の執筆方法の習得」があります。<br>一般的な学術論文のフォーマットに従った論文のみ査読の対象とします。<br>

      <br>
      <strong>・引用、参照元の信ぴょう性が薄い。</strong><br>
      インターネット上の情報など、書き手が特定できない文章や根拠のない文章などを引用・参照したものは、論拠が不十分だとみなす場合があります。<br>
      <br>
      <strong>・すでに発表された論文や文章を剽窃している。</strong><br>
      引用元を明らかにせず、すでに発表された文章をそのまま流用することは、他人のものはもちろん元の論文の著者本人であっても禁止されています。<br>
      <br>
      <strong>・論理の飛躍がはなはだしい。</strong><br>
      文章やことばの飛躍が見られた場合も、査読の対象外にいたします。<br>

    </div>
    <div class="content">
      <h1 id="t2" class="contentTitle">OJSの使用マニュアル</h1>
      <h2> OJSの使い方</h2>
      <ul>
        <li><strong>著者登録</strong>(動画が表示されない場合は<a href="http://www.youtube.com/watch?v=72wtNbOCA1s">クリック</a>)
        <iframe width="640" height="355" src="http://www.youtube.com/embed/72wtNbOCA1s?rel=0&amp;hd=1"> </iframe>
        <br>
        <br>
        </li>
        <li><strong>論文投稿</strong>(動画が表示されない場合は<a href="http://www.youtube.com/watch?v=9j5_QexVITc">クリック</a>)
        <iframe width="640" height="355" src="http://www.youtube.com/v/9j5_QexVITc?fs=1&amp;hl=ja_JP&amp;hd=1"> </iframe>
        <br>
        <br>
        </li>
      </ul>
      <ul>
        <li>他のマニュアル
        <ul>
          <li><a href="data/OJS_introduction.pptx">OJS紹介ppt</a></li>
          <li><a href="http://www.wul.waseda.ac.jp/ir/epubs/ojs/jpn/ojs_in_an_hour_jp.pdf">一時間でわかるOJS</a></li>
          <li><a href="data/OJS_registration_guide_author.pdf">マニュアル（PDF）</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
